body{
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.598) , rgba(0, 0, 0, 0.132)),
    url("./images/back16.avif");
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content {
    gap:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    justify-content: center;
}
.section-tag {
    font-size: 3rem;
    margin-top: 30px;
}
.main h1 {
    color:rgb(252, 175, 10)
}
form {
    background-color: rgba(39, 37, 37, 0.575);
    display: flex;
    flex-direction: column;
    width:500px;
    gap:20px;
    height: auto;
    padding: 20px;
    border-radius: 8px;
}
form input, 
form textarea {
    border: none;
    border-bottom: gray 1px solid;
    background: transparent;
    min-height: 40px;
    font-size: 1rem;
}
form button.blue {
    width: 200px;
    align-self: center;
    margin-top: 20px;
}
.contact{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:150px;
    margin: 30px;
}
.details{
    display: flex;
    flex-direction: column;
    gap:30px;
    background-color: rgba(39, 37, 37, 0.575);
    height: fit-content;
    padding: 30px;
    border-radius: 8px;
}
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
   
}

@media (max-width:750px) {
    .main {
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .main h1 {
        font-size: 23px;
    }
    .main p {
        text-align: center;
    }
}