* {
    margin: 0;
    padding: 0;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-top: 40px;
    font-weight: 400;
}
nav {
    position: relative;
    display: flex;
    justify-content: center;
}

nav a {
    padding:0px 20px;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.main button {
    position: absolute;
    right:0;
    margin: 3vh;
    padding:8px 25px;
    font-size: 14px;
    font-weight: 500;
}
.blue
{
    display: inline-block;
    width: 150px;
    background-color: rgba(0, 217, 255, 0.753);
    border:1px solid rgba(0, 217, 255, 0.753);
    border-radius: 10px;
    padding: 1.5vh 2vh;
    font-size: 1rem;
    font-weight: 600;
    margin: 6vh 0vh;
}
.blue:hover{
    background-color:rgba(0, 217, 255, 0);
    transition: 1.5s ease-in-out;
}

footer {
    background-color: rgba(100, 99, 99, 0.963);
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}