* {
    margin: 0;
    padding: 0;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  width: 100%;
}
.main {
    background-image: url("./images/back2.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    flex-wrap: wrap;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.content h1 {
    font-size: 10rem;
    letter-spacing: 1vw;
    margin-bottom: 5vh;
    margin-top: 10vh;
    margin-left: 3vw;
    font-weight: 600;
}
.social {
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20vh;
    margin-bottom: 20vh;
    align-self: flex-start;
    gap:5vh;
    padding-left: 4vh;
}

#plan {
    color:rgba(228, 233, 238, 0.651);
    text-align: left;
    font-size: 1rem;
    letter-spacing: 0.5vh;
    margin-left:2vh;
    margin-bottom: 1vh;
}
hr {
    border: none;
    height: 1px;
    width:100%;
    background-color: rgba(228, 233, 238, 0.651);
    margin-left:0 auto;
}

.locs {
    display: flex;
    justify-content: space-between;
    margin: 4vh 0.5vw;
    flex-wrap: wrap;
}
.locs div {
    margin: 4vh 0.5vh;
    width:200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(220, 225, 230, 0.137);
    padding:2vh 10px;
    line-height: 2.5vh;
}
.locs span {
    margin:0.5vw;
}
.locs h5 {
        color:rgb(228, 233, 238);
        font-size: 1rem;
        letter-spacing: 2px;
        font-weight: 400;
}
.locs p {
    color:rgba(228, 233, 238, 0.651);
    font-size: 0.5rem;
    letter-spacing: 0.8px;
}

.reasons {
     background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("./images/back4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 4vh 4vw;
}

.reasons h4 {
  text-align: center;
  font-size: clamp(1.2rem, 4vh, 2rem);
  font-weight: 400;
  font-size: 1.2rem;
  padding: 2vh;
}

/* TEXT + GALLERY LAYOUT */
.dream {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  color: white;
  border: 1px solid rgba(116, 206, 206, 0.685);
  margin: 0 auto;
}
.dream .blue {
    width:200px;
}
/* IMAGE GALLERY */
.gallery {
  position: relative;
  min-height: 300px;
}

.gallery img {
  position: absolute;
  width: 220px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease,
    z-index 0s;
}

.gallery img:hover {
  transform: translateY(-15px) scale(1.05);
  z-index: 3;
  box-shadow: 0 30px 60px rgba(0,0,0,0.7);
}

/* overlapping cards */
.img-1 { right: 280px; z-index: 1; }
.img-2 { right: 140px; z-index: 2; }
.img-3 { right: 0;  z-index: 1;}

.dream .content {
    margin: 4vh;
    position: relative;
    z-index: 2;
    max-width: 450px;
}
.dream h5 {
    font-size: 1rem;
    font-weight: 300;
    color:rgba(255, 255, 255, 0.582);
    letter-spacing: 0.5vh;
    margin: 1rem 0rem;
}

ul li {
    font-size: 0.8rem;
    font-weight: 300;
    color:rgba(255, 255, 255, 0.582);
}
ul {
    line-height: 3.5vh;
    text-align: left;
}
.dream span
{
    font-weight: 500;
}
.blue
{
    display: inline-block;
    width: 150px;
    background-color: rgba(0, 217, 255, 0.753);
    border:1px solid rgba(0, 217, 255, 0.753);
    border-radius: 10px;
    padding: 1.5vh 2vh;
    font-size: 1rem;
    font-weight: 600;
    margin: 6vh 0vh;
}
.blue:hover{
    background-color:rgba(0, 217, 255, 0);
    transition: 1.5s ease-in-out;
}
.whyus {
    background:
    linear-gradient(rgba(0, 0, 0, 0.486), rgba(0,0,0,0.4)),
    url("./images/back3.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}

.inner {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    gap:4vh;
    flex-wrap: wrap;
}
.inner hr {
    width:30vw;
    margin: 1vh;
    margin-left: 10vh;
    opacity: 0.7;
    font-size: 2px;
    position: absolute;
    left:0;
}
.inner h4{
    font-size: 2rem;
    font-weight: 500;
}
.block {
    display:flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5vh 2vw;
    gap:4vh;
}
.block img {
    width:50%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin: 5vh;
    flex:1 1 auto;
}
.why {
    background-color: rgba(78, 75, 75, 0.527);
    width:300px;
    border-radius: 10px;
    padding: 3vh;
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 7vh;
}

.why h5 {
    padding: 0px;
    margin: 0px !important;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.5vh;
}
.why p {
    padding: 1vh 0vh;
    font-size: 2vh;
    color:rgba(255, 255, 255, 0.582);
    line-height: 2.5vh;
}
#tour {
    margin: 5px 20px;
    font-size: 1rem;
}
#read{
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.gall {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-width: none;
}
.gall img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gall::-webkit-scrollbar {
  display: none;
}

.img-card {
  position: relative;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  width: 250px;
  height: 160px;
  margin: 2vh;
}
.text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #fff;
  font-size: 2.5vh;
  font-weight: 500;
  background: rgba(0,0,0,0.5);
  padding: 6px 10px;
}

.about {
    background:
    linear-gradient(rgba(0, 0, 0, 0.486), rgba(0,0,0,0.4)),
    url("./images/back5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}

.about h4 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    font-weight: 500;
}

.inner img {
    width:50%;
    height: auto;
    object-fit:fill;
    display: block;
    border-radius: 10px;
    margin: 5vh;
    flex:1 1 auto;
}

.metrics {
    display: flex;
    gap:2vh;
}

.metrics span{
    display: block;
    font-weight: 600;
    margin-bottom: 0.4rem;
    font-size: 0.8rem;

}

.inner button {
    margin: 2vh 0vh;
}

.review{
    background:
    linear-gradient(rgba(0, 0, 0, 0.486), rgba(0,0,0,0.4)),
    url("./images/back4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80;
    margin: 0px;
}

.review header {
    display: flex;
    justify-content: center;
}

.review header hr {
    width:30%;
    margin: 2vh;
    position: absolute;
    right:0;
    margin-right: 7vh;
}
.review header h4{
    margin-left: 0 auto;
    position: absolute;
    font-weight: 500;
    font-size: 2rem;
}
.rev {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scrollbar-width: none;
    position: relative;
    justify-content: flex-start;
    padding: 20px 0;
}
.rev .content {
  border-radius: 8px;
  padding: 1.5rem;
  width: 420px;
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2vh 2vw;
  position: relative;
  flex-shrink: 0;
}
#right {
    margin-right: -2rem;
}
.rev img{
    width:200px;
    height: 150px;
    display: block;
    position: relative;
    margin-right: -2rem;
    z-index: 1;
    flex-shrink: 0;
}

.rev span {
  flex-shrink: 0;
  overflow: hidden;
  width: 250px;
  height: 140px;
  margin: 2vh 0vh;
  background-color: rgba(100, 99, 99, 0.963);
  padding: 2vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2vh;
  box-shadow: 0 20px 40px rgba(0,0,0,.6);
}
.rev span h5 {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 2px;
}
.rev span h6{
    font-weight: 300;
    font-size: 0.7rem;
}
.rev span p{
    font-weight: 500;
    font-size: 0.6rem;
}

.form {
    display: flex;
    padding: 5vh;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.form h5 {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 5vh;
    width:25vw;
    line-height: 2.5rem;
}

form {
    min-width: 200px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

form input {
    background-color: rgba(0, 0, 0, 0.084);
    border: none;
    border-bottom: 1px solid rgba(220, 220, 220, 0.811);
    padding: 2vh;

}
form input::placeholder{
    color:#ffffffb5;
    font-size: 0.8rem;
    font-weight: 300;
}

@media (max-width: 768px) {
  .dream {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .content h1 {
    font-size: 80px;
    margin: 10px !important;
  }
  .social{
    flex-direction: row;
    margin: 5px !important;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
  }
  .locs {
    flex-direction: column;
    align-items: center;
  }
  .locs div {
    width: 300px;
  }
  .gallery {
    position: static;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
  }

  .gallery img {
    position: static;
    flex: 0 0 70%;
    height: 220px;
    width: 100px;
    scroll-snap-align: center;
  }
  .inner img {
    width: 320px;
    height: auto;
    object-fit:fill;
    display: block;
    border-radius: 10px;
    margin: 2vh;
    flex:1 1 auto;
}
 .block img{
    width:350px;
 }
 .why {
    padding: 3vh;
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 }
 .inner hr{
    display: none;
 }
 .form {
    justify-content: flex-start;
 }
 .form h5 {
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
 }
 form input {
    width:100%;
    padding: 5px;
 }
 form {
    width: 100%;
 }
 .rev {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
 }
 .rev .content{
  border-radius: 0px;
  padding: 0px;
  width: 340px;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2vh 2vw;
  position: relative;
  background-color: rgba(100, 99, 99, 0.963);
 }
.rev img {
        width: 50%;
        height: 200px;
        margin-right: 0px;
        position: static;
        z-index: 1;
        flex-shrink: 0;
    }
.rev span {
        background-color: transparent !important;
        padding: 5px;
        margin: 5px;
        line-height: 2vh;
        box-shadow: none;
        width: calc(100% - 180px);
        z-index: 2;
        height: 200px;
    }
 #right {
    margin: 5px !important;
 }
.review  hr {
    display: none;
 }
}

