body {
    background: linear-gradient(to bottom , rgba(0, 0, 0, 0.461), rgba(0, 0, 0, 0.224)),
    url("./images/back17.jpg");
    min-height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main {
    position: relative;
}
.main h1 {
    position: relative;
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
    padding: 2vh 2vw;
    font-weight: 600;
    padding-top: 10vh;
}
.main span {
    color:rgb(254, 183, 40);
    font-size: 2rem;
    position: relative;
    text-align: center;
    font-weight: 600;
    display: block;
    text-align: center;
    word-spacing: 0.5rem;
}
.tour-card{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:5vw;
    margin: 20px;
    flex-wrap: wrap;
}
.tour-card img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin: 1rem;
}
.cont {
  overflow: hidden;
  margin: 2vh 0vh;
  width:550px;
  
  background-color: rgba(103, 102, 102, 0.5);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  border-radius: 8px;
  height: fit-content;
}
.right {
    flex-direction: row-reverse;
}
.blue {
    margin:0px;
}
.offer {
  width:1000px;
  height: auto;
  background-color:rgba(103, 102, 102, 0.5);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
  line-height: 30px;
  border-radius: 8px;
  margin: 2vh 0vh;
}

@media (max-width:750px)
{
.tour-card img
{
    width: 300px;
    height: 200px;
}
}