<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel</title>
    <link rel="stylesheet" href="/static/nav.css">
    <link rel="stylesheet" href="/static/style.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
    <section class="main">
    <header>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/tours">Hot tours</a>
            <a href="/contact">Contact</a>
        </nav>
        <button class="blue" onclick="window.location.href='/form'">Book Now</button>
    </header>
     <div class="head">
            <div class="social">
                <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>

                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://wa.me/923001234567" target="_blank" aria-label="WhatsApp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>   
               <div class="content">
            <h1>TRAVEL</h1>   
        <p id="plan">PLAN YOUR EXPERIENCE</p>
        <hr>
        <div class="locs">
            <div>
                <i class="fa-solid fa-location-dot"></i>
                <span>
                <h5>New Zeeland</h5>
                <p>Plan a trip</p>
                </span>
            </div>
            <div>
                <i class="fa-solid fa-location-dot"></i>
                <span>
                <h5>Indonesia</h5>
                <p>Plan a trip</p>
                </span>
            </div>
            <div>
                <i class="fa-solid fa-location-dot"></i>
                <span>
                <h5>Argentina</h5>
                <p>Plan a trip</p>
                </span>
            </div> 
             </div>
        </div>    
    </div>
    </section>
    <section class="reasons">
        <h4>5 REASONS WHY YOU SHOULD VISIT NEW ZEALAND</h4>
        <div class="dream">
            <div class="content">
                <h5>TRIP OF YOUR DREAM</h5>
                <ul>
                    <li><span>5</span> days and <span>4</span> nights in a hotel with a magical atmosphere</li>
                    <li>Hot air ballon flight at dawn + Photoshoot. Riding an ATV in the desert</li>
                    <li>3 cities. Auckland , Churchet , Washtih</li>
                    <li>Round trip tickets + transfer to the hotel</li>
                    <li><span>1100 $</span> for two</li>
                </ul>
                <button class="blue" onclick="window.location.href='/form'">BOOK A TOUR</button>
            </div>
            <div class="gallery">
                <img src="/static/images/newz1.jpg" class="img-1">
                <img src="/static/images/newz3.jpg" class="img-2">
                <img src="/static/images/ewz2.jpg" class="img-3">
            </div>
        </div>
    </section>
    <section class="about">
        <h4>ABOUT US</h4>
        <div class="inner">
            <img src="static/images/water.jpg">
            <div class="why">
                <h5>Get to know us</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, numquam commodi! 
                    Nulla, molestias illo iste modi vitae veritatis iure impedit, adipisci voluptatum rerum placeat. 
                    Asperiores, omnis rerum? Soluta, neque iure?</p>
                <button class="blue" onclick="window.location.href='/about'">Read more</button>
                <div class="metrics">
                    <p><span>500</span> tours</p>
                    <p><span>10</span> Years</p>
                    <p><span>1500</span>Members</p>
                    <p><span>550</span>Reviews</p>
                </div>
            </div>
        </div>
    </section>
    <section class="whyus">
        <div class="inner">
        <hr>
        <h4>WHY US?</h4>
        </div>
        <div class="block">
            <div class="why">
                <h5>Hobbiton</h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod animi reiciendis nam minima corporis 
                    repudiandae unde, dignissimos exercitationem veritatis qui? Placeat laboriosam magnam fuga veritatis 
                    nihil maiores vero enim consectetur!</p>
                    <button class="blue" id="read" onclick="window.location.href='/about'">Read more</button>
            </div>
            <img src="static/images/new1.jpg">
        </div>
        <h5 id="tour">Popular Tour</h5>
        <div class="gall">
            <div class="img-card">
            <img src="static/images/korea.jfif">
            <span class="text">Korea</span>
            </div>
            <div class="img-card">
            <img src="static/images/pakistan.jpg">
            <span class="text">Pakistan</span>
            </div>
            <div class="img-card">
            <img src="static/images/nepal.jpg">
            <span class="text">Nepal</span>
            </div>
            <div class="img-card">
            <img src="static/images/china.avif">
            <span class="text">China</span>
            </div>
            <div class="img-card">
            <img src="static/images/inda.webp">
            <span class="text">India</span>
            </div>
        </div>
    </section>
    <section class="review">
        <header>
            <h4>REVIEWS</h4>
            <hr>
        </header>
        <div class="rev">
                <div class="content">
                    <img src="static/images/tour3.jpg">
                    <span>
                    <h5>Isabella</h5>
                    <h6>22.06.25</h6>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Tempore modi adipisci
                         assumenda hic ipsa, quis consequatur 
                         reiciendis aperiam. Asperiores repellendus 
                         nam quibusdam. Eveniet perferendis reiciendis 
                         ducimus quidem dolorum deserunt vitae?</p>
                    </span>
                </div>
                <div class="content" id="active">
                    <img src="static/images/tour.avif">
                    <span>
                    <h5>Max</h5>
                    <h6>21.05.25</h6>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Tempore modi adipisci
                         assumenda hic ipsa, quis consequatur 
                         reiciendis aperiam. Asperiores repellendus 
                         nam quibusdam. Eveniet perferendis reiciendis 
                         ducimus quidem dolorum deserunt vitae?</p>
                         </span>
                </div>
                <div class="content">
                    <img src="static/images/tour2.avif" id="right">
                    <span>
                    <h5>Cece</h5>
                    <h6>13.08.25</h6>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Tempore modi adipisci
                         assumenda hic ipsa, quis consequatur 
                         reiciendis aperiam. Asperiores repellendus 
                         nam quibusdam. Eveniet perferendis reiciendis 
                         ducimus quidem dolorum deserunt vitae?</p>
                         </span>
        </div>
        </div>
        <div class="form">
            <h5>SEND US A COOL REQUEST TO BOOK A TRIP</h5>
            <form method="POST" action="/send-mail">
                <input type="text" placeholder="Name" name="name">
                <input type="email" placeholder="Email" name="email">
                <input type="text" placeholder="Message" name="message">
                <button class="blue">Submit</button>
            </form>
        </div>
    </section>
    <footer>
        <p>&copy; 2026 Travel. All rights reserved.</p>
    </footer>
</body>
</html>
