<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours</title>
    <link rel="stylesheet" href="/static/nav.css">
    <link rel="stylesheet" href="/static/tour.css">
</head>
<body>
    <section class="main">
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/tours">Hot tours</a>
            <a href="/contact">Contact</a>
        </nav>
        <button class="blue">Book Now</button>
    </header>

    <h1>Explore our exciting tour offers</h1>
    <span>And unleash your potential</span>
</section>
    <section class="tours-section">
        <div class="tour-card right">
            <div class="img"><img src="/static/images/tour.avif" alt="Hawaii Beach">
            </div>
            <div class="cont">
            <h2>Beach Paradise in Hawaii</h2>
            <p>Experience the ultimate relaxation on pristine beaches with crystal-clear waters.</p>
            <p><strong>2</strong> Nights Stay</p>
            <p>Fun Activites</p>
            <p><strong>Price:</strong> $999</p>
            <button class="blue">Book Now</button>
            </div>
        </div>
        <div class="tour-card">
            <div class="img">
                <img src="/static/images/tour2.avif" alt="New Zealand Mountains">
            </div>
            <div class="cont">
            <h2>Mountain Adventure in New Zealand</h2>
            <p>Embark on thrilling hikes and breathtaking views in the world's most stunning mountain ranges.</p>
            <p><strong>3</strong> Nights stay</p>
            <p>Delicious Lunch and Dinner</p>
            <p><strong>Price:</strong> $1,299</p>
            <button class="blue">Book Now</button>
            </div>
        </div>
        <div class="tour-card right">
            <div class="img">
                <img src="/static/images/chinanew.avif" alt="China">
            </div>
            <div class="cont">
            <h2>Cultural Exploration with Chinese</h2>
            <p>Dive into rich histories and vibrant cultures of China with guided tours of iconic cities.</p>
            <p><strong>5</strong> Nights Stay</p>
            <p>Participation in Chinese New Year</p>
            <p><strong>Price:</strong> $1,199</p>
            <button class="blue">Book Now</button>
            </div>
        </div>
        <div class="tour-card">
            <div class="img">
                <img src="/static/images/korea.jfif" alt="Africa Safari">
            </div>
            <div class="cont">
            <h2>Safari Expedition in Africa</h2>
            <p>Get up close with wildlife on an unforgettable safari adventure in Africa.</p>
            <p><strong>3</strong> Nights Stay</p>
            <p>All Meals Included</p>
            <p><strong>Price:</strong> $2,499</p>
            <button class="blue">Book Now</button>
            </div>
        </div>
        <div class="tour-card">
            <div class="offer">
                <h1>Didn't like our offer</h1>
                <h3>Book according to your requirements</h3>
                <button class="blue">Book Now</button>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2026 Travel. All rights reserved.</p>
    </footer>
</body>
</html>
